*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #5811f3 ;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 10px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: none;
    margin: 2px 7px 2px 7px;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 600px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {
        display: block;     
    }
    #check:checked ~ .menu {right: 0;}

    .searchbar {
        width: 90%;
        max-width: 100px;
        display: inline-flex; 
        margin: 0 10px 0 30px;   
    }
}

.searchbar {
    width: 100%;
    max-width: 300px;
    display: inline-flex; 
    margin: 0 10px 0 10px;   
}

.searchbar-input {
    flex-grow: 1;
    padding: 7px;
    outline: none;
    border: 1px solid #009897;
    border-radius: 5px 0 0 5px;
    background: #f4faf9;
    transition: background 0.25s, box-shadow 0.25;
}

.searchbar-input:focus {
    background: white;
    box-shadow: 0 0 2px #8cc6ba;
}

.searchbar-input::placeholder {
    color: #8cc6ba;
}

.searchbar-button {
    width: 40px;
    background: #000879;
    color: white;
    outline: none;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
} 

.searchbar-button:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}